.hero{
    scroll-snap-align: start;
    
    padding: 10em 0;
    h1{
        font-size: 7rem;
        line-height: 7.5rem;
    }
    .highlight{
        span{
            // color: green;
            transform: translateY(-50%) !important;
            
        }
    }
    p{
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 1em;
    }
}