@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import "./components/hero";
@import "./components/about";
@import "./components/contact";
@import "./components/project";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
img {
  object-fit: contain;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
.landing {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: bolder;
  color: white;
}

body {
  overflow-x: hidden;
  // font-size: 3.2vw;
  // filter: invert(1) hue-rotate(180deg);
  // transition: color 300ms, background-color 300ms;
  // background-color: black;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff3535;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff353599;
}
.resume {
  padding: 1em 2em;
  border-radius: 2em;
  background-color: black;

  color: white !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}
.page {
  padding: 2em;
}
b {
  color: #ff3535;
}
.highlight {
  position: relative;
  span {
    background-image: linear-gradient(
      transparent calc(60% - 10px),
      #ff3535bc 10px
    );
    background-size: 100%;
    background-repeat: no-repeat;

    display: inline;
    transition: 0.5s ease;
  }
}
@media screen and(max-width:349px) {
  .mini {
    display: block;
    font-size: 1rem !important;
  }
}
@media screen and(max-width:517px) {
  body {
    font-size: 3.2vw;
  }
  .hero {
    h1 {
      font-size: 4rem;
      line-height: 4.5rem;
    }
  }
  .projects {
    .mid {
      p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    .card {
      h1 {
        font-size: 2.4rem !important;
      }
    }
  }

  .contact {
    h1 {
      font-size: 1rem !important;
      margin: 2em 0;
    }
  }
}

.burger,
.menu {
  display: none;
}
@media screen and(max-width:790px) {
  .header {
    .right {
      display: none;
    }
    .burger {
      display: block;
      position: sticky;
    }
    .menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 80vw;
      height: 100vh;
      background-color: black;
      color: white;
      p{
        cursor: pointer;
      }
      transform: translateX(1000px);
      transition: 1s ease;
      a {
        color: white !important;
      }
      .resume {
        // background-color: #fff;
        padding: 0 !important;
        
        // color: black !important;
        
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2em;
      align-items: flex-start;
      z-index: 100;
    }
  }
}
@media screen and(max-width:1024px) {
  .mega {
    display: none;
  }
  .mini {
    display: block;
    font-size: 1.5rem;
  }
}
@media screen and(max-width:915px) {
  // body{
  //   font-size: 3.2vw;
  // }

  .projects {
    .card {
      h1 {
        font-size: 2rem !important;
        // color: #ff3535;
      }
    }
  }
  .contact {
    .bottom {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
@media screen and(max-width:680px) {
  .projects {
    .bottom {
      .card {
        div {
          width: 100% !important;
        }
        flex-direction: column;
        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: unset;
          width: 100%;
          margin: 2em 0;
          .btns {
            justify-content: center;
            align-items: center;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
    }
  }
}
